body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}
.ko-grid-pageLinks {
    margin-bottom: 1em;
}

    .ko-grid-pageLinks a {
        padding: 0.2em;
    }

        .ko-grid-pageLinks a.selected {
            background-color: Black;
            color: White;
        }

.liveExample {
    height: 20em;
    overflow: auto
}
#chart  {
    display: none;
}
.results-table {
    display: none;
}
.status-group {
    display: none;
}

#dates {
    display: none;
}
#url-input-form {
    margin-top: 2em;
    /*background-color: #91d584;*/
}
.col-centered {
    margin: 0 auto;
    float: none;
}