body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}
.ko-grid-pageLinks {
    margin-bottom: 1em;
}

    .ko-grid-pageLinks a {
        padding: 0.5em;
    }

        .ko-grid-pageLinks a.selected {
            background-color: Black;
            color: White;
        }

.liveExample {
    height: 20em;
    overflow: auto
}
#chart  {
    display: none;
}
.results-table {
    display: none;
}
