
    @*<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>*@
<div id="chart">

</div>



<div class="results-table">
    <div class="row">
        <div class="col-md-2">Max</div>
        <div class="col-md-2 " data-bind="text: max"></div>
    </div>
    <div class="row">
        <div class="col-md-2">Min</div>
        <div class="col-md-2 " data-bind="text: min"></div>
    </div>
    <span data-bind="text: maxv()"></span>

    <div data-bind='simpleGrid: gridViewModel'> </div>
</div>
    
